html,
body {
  font: 14px "Microsoft YaHei";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  overflow: hidden;
}

.layui-container {
  padding: 20px;
  margin: 10% auto;
  text-align: center;
  width: 30%;
  background-color: white
}

#form-login {
  /* width: 50%; */
  margin-top: 20px;
  text-align: center;
}

#input-captcha{
  width: 50%;
  float: left;
}

#btn-getCaptcha{
  float: right;
}

#verify-container{
  width: 50%;
  float: left;
  height: 38px;
}

.layui-btn {
  background-color: #555fc3;
  border: #555fc3
}

#title{
  height: 50px;
  line-height: 50px;
  background-color: #555fc3;
  background: linear-gradient(to right,#7382f7,#20296c);  
  padding: 5px 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}